---
import FormattedDate from "@/components/FormattedDate.astro";
import { R2_BUCKET } from "@/consts";
import { type Product } from "@/type";

type Props = Product;

const {
  id,
  title,
  slug,
  author,
  createdAt,
  updatedAt,
  description,
  tags,
  thumbnail,
} = Astro.props;
---

<a href={`/products/${slug}/`}>
  {
    thumbnail ? (
      <img src={`${R2_BUCKET}/${thumbnail}`} alt={title} class="thumbnail" />
    ) : (
      <img
        src="https://content.nasubi.dev/assets/nasubi-new.webp"
        alt={title}
        class="thumbnail"
      />
    )
  }
  <h4 class="title">{title}</h4>
  <p class="date">
    <!-- tagsに記載した技術スタックをカード上に表示 -->
    <!-- グラスで透過 -->
    <!-- titleとdescriptionを2行 -->
     
    <FormattedDate date={createdAt} />
  </p>
</a>
