---
import "@/styles/global.css";
import { type CollectionEntry, getCollection } from "astro:content";
import BlogPost from "@/layouts/BlogPost.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { ContentContainer } from "@/components/common/ContentContainer";
import { render } from "astro:content";
import TableOfContents from "@/components/TableOfContents.astro";
import { styled as p, VStack, HStack } from "@styled-system/jsx";
import { Button } from "@/components/common/Button";
import TwitterIcon from "../../../public/MdiTwitter.svg";
import ClipboardIcon from "../../../public/MdiClipboardOutline.svg";
import { css } from "@styled-system/css";

export async function getStaticPaths() {
  const posts = await getCollection("products");
  return posts.map((post) => ({
    params: { slug: post.id },
    props: post,
  }));
}
type Props = CollectionEntry<"products">;

const post = Astro.props;
const { Content, headings } = await render(post);
const shareUrl = `https://nasubi.dev/products/${post.data.slug}`;
const ogpPath = `products/${post.id}`;
---

<BaseLayout ogpPath={ogpPath}>
  <ContentContainer widthLimit>
    <BlogPost headings={headings} {...post.data}>
      <HStack alignItems="flex-start" gap="4">
        <p.div flexGrow="1" width="100%" padding="4">
          <Content />
        </p.div>
        <VStack
          display={{ base: "none", lg: "block" }}
          marginBottom="4"
          position="sticky"
          top="4"
        >
          {
            headings && headings.length > 0 && (
              <TableOfContents headings={headings} />
            )
          }
          <HStack paddingTop="4" gap="4">
            <Button
              variant="light"
              rounded="full"
              borderWidth="1px"
              borderColor="nsb.bg-on"
            >
              <ClipboardIcon width="20px" height="20px" />
            </Button>
            <p.a
              href={`https://twitter.com/share?url=${encodeURIComponent(
                shareUrl
              )}&text=${encodeURIComponent(post.data.title)}`}
              target="_blank"
            >
              <Button
                variant="light"
                rounded="full"
                borderWidth="1px"
                borderColor="nsb.bg-on"
              >
                <TwitterIcon width="20px" height="20px" />
              </Button>
            </p.a>
          </HStack>
        </VStack>
      </HStack>
    </BlogPost>
  </ContentContainer>
</BaseLayout>
